<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="/stylesheets/auth.css">
    </head>

    <body>

        <div class="form">
            <div class="form-toggle"></div>
            <div class="form-panel one">

                <% if (locals.succes === "succes") { %>
                    <div class="succes">
                        <p>Compte crée ! connecte-toi ... ☕ </p>
                    </div>
                <% } %>

                <% if (locals.register_error) { register_error.forEach(function(error_msg){ %>
                    <div class="erroralert">
                        <%= error_msg %>
                    </div>
                <% }); } %>
                <% if (locals.login_errors) { login_errors.forEach(function(error_msg){ %>
                    <div class="erroralert">
                        <%= error_msg %>
                    </div>
                <% }); } %>
                <div class="form-header">
                    <h1>Connecte toi</h1>
                    <small>(Pas la cafetiere, hein)</small>
                </div>
                <form class="form-content" method="POST" action="/auth/login">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="form-remember">
                                <input type="checkbox" />Remember Me
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit">Connexion !</button>
                        </div>
                    </form>
                </form>
            </div>
            <div class="form-panel two">
                <div class="form-header">
                    <h1>Inscription</h1>
                    <small>(Toujours pas la cafetiere)</small>
                </div>
                <div class="form-content">
                    <form action="/auth/register" method="POST" id="register">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Confirm Password</label>
                            <input type="password" id="cpassword" name="cpassword" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inscription"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>

            document.addEventListener('readystatechange', async event => {

                if (event.target.readyState === "complete") {

                    var panelOne = parseFloat(getComputedStyle(document.querySelector(".form-panel.one"), null).height.replace("px", ""))
                        panelTwo = document.querySelector(".form-panel.two").scrollHeight;


                    document.querySelector('.form-panel.two:not(.form-panel.two.active)').addEventListener('click', function (e) {

                        document.querySelector('.form-toggle').classList.add('visible');
                        document.querySelector('.form-panel.one').classList.add('hidden');
                        document.querySelector('.form-panel.two').classList.add('active');

                        document.querySelector('.form').style.height = panelTwo + "px"

                    })

                    document.querySelector('.form-toggle').addEventListener('click', function (e) {

                        e.preventDefault();

                        document.querySelector('.form-toggle').classList.remove('visible');
                        document.querySelector('.form-panel.one').classList.remove('hidden');
                        document.querySelector('.form-panel.two').classList.remove('active');

                        document.querySelector('.form').style.height = panelOne + "px"

                        console.log(panelOne);

                    });

                }

            })

        </script>
    </body>

</html>

